<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<!--navegacion -->
<!--nav-->
<nav class=" navbar nav1" style="z-index: 5;" >

  <a class="navbar-brand" href="#" ><img src="assets/img/logo_bioflex-01.png" style="height: 40px;" alt="" (click)="OnClickExit()"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="assets/img/logo_bioflex-01.png"  style="height: 40px;"alt=""></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <hr class="hr1">
    <div class="offcanvas-body" >
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
       <!--1-->
       <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">

            <button class="accordion-button collapsed fas fa-plus" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Opciones
            </button>
          </h2>
          <hr>

        </div>


      </div>

       <!--1-->


        <li class="nav-item" (click)="OnClickExit()">
          <a class="nav-link" style="cursor: pointer" href="#" ><img src="assets/img/logout.png"  style=" height: 25px;" >Volver al Inicio</a>
        </li>
      </ul>
   </div>
    </div>
</nav>
<br><br><br>

<!--navegacion -->



<div>
  <nav>

  </nav>
   <div class="tab-content" id="nav-tabContent">
<!-- Apartado del filtro de solicitudes -->
<!--nav-->


    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


<br>
      <div class="table-responsive tab-pane fade show active">
        <h6>Solicitudes</h6>
         <table  class="table table-condensed table-bordered table-hover table caption-top" id="season-tble" align="center" border="1" style="width:auto; height:20px;" >
             <caption>Lista de Solicitudes</caption>
             <thead>
             <tr align="center" class="active">
               <th class="id">
                 <div class="search-name">
                 <span>ID</span>

                 </div>
                 </th>
               <th class="cabezaras">Nombre Solicitante</th>
               <th class="cabezaras">Fecha Solicitud</th>
               <th class="cabezaras">Hora Solicitud</th>
               <th class="cabezaras"><div class="search-name"><span>Área Solicitud</span><select class="btn_filter" style="width:20px;" name="searchTextAS" [(ngModel)]="searchTextAS"><option value="" selected>todo</option><option *ngFor="let item of areas" >{{item.nombre}}</option></select></div></th>
               <th class="cabezaras"><div class="search-name"><span>Máquina</span><select class="btn_filter" style="width:20px;"  name="searchTextMAQ" [(ngModel)]="searchTextMAQ"><option value="" selected>todo</option><option *ngFor="let item of maqunasAreas" >{{item.nombre}}</option></select></div></th>
               <th class="cabezaras"><div class="search-name"><span>Dispositivos</span><select class="btn_filter" style="width:20px;"  name="searchTextDIS" [(ngModel)]="searchTextDIS"><option value="" selected>todo</option><option *ngFor="let item of datatable" >{{item.dispositivo}}</option></select></div></th>
               <th class="cabezaras">Problema</th>
               <th class="cabezaras">Nómina Inicial</th>
               <th class="cabezaras">Nombre Mecánico</th>
               <th class="cabezaras">Fecha Inicio</th>
               <th class="cabezaras">Hora Inicio</th>
               <th class="cabezaras">Diagnóstico</th>
               <th class="cabezaras">Falla</th>
               <th class="cabezaras">¿Género Paro?</th>
               <th class="cabezaras">Tiempo Paro Correctivo</th>
               <th class="cabezaras">Tiempo Paro Operativo</th>
               <th class="cabezaras">Paro Refacción</th>
               <th class="cabezaras">Tiempo Total</th>
               <th class="cabezaras">Tareas Ejecutadas</th>
               <th class="cabezaras">Grasas</th>
               <th class="cabezaras">Material Usado</th>
               <th class="cabezaras">Fecha Cierre</th>
               <th class="cabezaras">Hora Cierre</th>
               <th class="cabezaras">¿Trabajó Sanitizado?</th>
               <th class="cabezaras"><div class="search-name">
                 <span>Estatus</span>
                 <select class="btn_filter" style="width:20px;"  name="searchTextStat" [(ngModel)]="searchTextStat">
                   <option value="" selected>Todo</option>
                   <option >Falta de Refacción(Trabajo Temporal)</option>
                   <option > Recogiendo Herramientas y Refacciones</option>
                   <option >Cancelado</option>
                   <option>Terminado</option>
                 </select>
               </div></th>

               <th class="cabezaras">Firmada Por..</th>
               <th class="cabezaras">Opciones</th>

             </tr>
           </thead>
           <tbody>

             <tr  *ngFor="let item of datatable| filter:searchText|filter:searchTextMAQ|filter:searchTextAS|filter:searchTextStat|paginate:{itemsPerPage:5,currentPage: page}" style="width: 100%;" align="center">
                 <th scope="row">{{item.idSolicitud}}</th>
                 <th scope="row">{{item.nombreSolicitante}}</th>
                 <th scope="row">{{item.fechaSolicitud}}</th>
                 <th scope="row">{{item.horaSolicitud}}</th>
                 <th scope="row">{{item.area}}</th>
                 <th scope="row">{{item.maquina}}</th>
                 <th scope="row">{{item.dispositivo}}</th>
                 <th scope="row">{{item.descripcionProblema}}</th>
                 <th scope="row">{{item.nomina}}</th>
                 <th scope="row">{{item.nombre}}</th>
                 <th scope="row">{{item.fechaInicio}}</th>
                 <th scope="row">{{item.horaInicio}}</th>
                 <th scope="row">{{item.diagnostico}}</th>
                 <th scope="row">{{item.tipoFalla}}</th>
                 <th scope="row">{{item.generoParo}}</th>
                 <th scope="row">{{item.paroCorrectivo}}</th>
                 <th scope="row">{{item.paroOperativo}}</th>
                 <th scope="row">{{item.paroRefaccion}}</th>
                 <th scope="row">{{item.tiempoTotal}}</th>
                 <th scope="row">{{item.tareasEjecutadas}}</th>
                 <th scope="row">{{item.grasaUtilizada}}</th>
                 <th scope="row">{{item.refaMateHerra}}</th>
                 <th scope="row">{{item.fechaFinal}}</th>
                 <th scope="row">{{item.horaFinal}}</th>
                 <th scope="row">{{item.trabajoSanitizado}}</th>
                 <th scope="row">{{item.estatusActividad}}</th>
                 <th scope="row">{{item.nombre3}}</th>
                 <div *ngIf="item.estatusActividad ==='Terminado'; then thenBlock else elseBlock"></div>

                 <ng-template #thenBlock>

                  <div *ngIf="item.firmaSolicitante==='0'; then thenBlock1 else elseBlock1"></div>
                  <ng-template #thenBlock1>
                    <th><button type="button" class="btn btn-primary" (click)="onSetData(item); openModal(template);"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" >Firmar</button></th>

                  </ng-template>
                  <ng-template #elseBlock1>
                    <th><button type="button" class="btn btn-danger" (click)="onSetData(item); openModal(template);"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" disabled>Firmada</button></th>


                  </ng-template>


                  </ng-template>

                 <ng-template #elseBlock>

                  <th><button type="button" class="btn btn-primary" (click)="onSetData(item); openModal(template);"

                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" disabled

                  >Firmar</button></th>
                </ng-template>

               </tr>

           </tbody>
         </table>
       </div>
       <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

      </div>
    <!-- Apartado de agregar y ver mecanico-->
    <div class="tab-pane fade" id="nav-mecanico" role="tabpanel" aria-labelledby="nav-mecanico-tab">
    <h6>Mecánico</h6>

    <div class="row g-3">
      <div class="col-sm-3">


        <input type="text" class="form-control" placeholder="Nómina" aria-label="nomina" [(ngModel)]="serviceModelMecanico.nomina">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Nombre" aria-label="nombre" [(ngModel)]="serviceModelMecanico.nombre">
      </div>




      <table class="table caption-top">
        <caption>Listado de Mecánicos</caption>
        <thead>
          <tr>
            <th scope="col">#Nómina</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datatable4">
            <th scope="row">{{item.nomina}}</th>
            <td>{{item.nombre}}</td>


          </tr>

        </tbody>
      </table>

  </div>
  <!-- Apartado de agregar y ver area-->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

    </div>
      <!-- Apartado de agregar y ver maquina-->
    <div class="tab-pane fade" id="nav-machine" role="tabpanel" aria-labelledby="nav-machine-tab">


  </div>

<!-- Apartado para agregar y ver dispositivos-->

<div class="tab-pane fade" id="nav-dispositivo" role="tabpanel" aria-labelledby="nav-dispositivo-tab">

</div>




  </div>
   </div></div>
<!-- -->



<ng-template class="wrapper bg-white" #template>
  <div class="modal-header">
   <button
      type="button"
      class="close pull-rigth"
      aria-label="Close"
      (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>
  <form class="rounded mb-0 m-4 p-4 needs-validation novalidate" >

      <h6 ><i class="fas fa-info-circle"></i> Coloca Tú Número de Nomina Para Continuar</h6>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-clipboard"></i> </span>
        <input type="text" class="form-control" placeholder="Coloque su firma" name="firma" id="txtfirma" [(ngModel)]="serviceModel.firmaSolicitante">
      </div>


  </form>
    <button class="btn btn-primary"  (click)="onUpdateSalida(serviceModel); saveSomeThings() ">Confirmar</button>
  <br>

  </ng-template>

</body>
</html>


