body {
    background: #0083B0;
    background: -webkit-linear-gradient(to right, #0083B0, #ffffff);
    background: linear-gradient(to right, #797878, rgb(45, 44, 46));
    min-height: 100vh;
}
/* background: #0083B0;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB); */
.form-control::placeholder {
    font-style: italic;
    font-size: 0.85rem;
    color: #aaa;
}